.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#chips_img {
    width:10%;
    height:10%;
}

#clicker_img {
    width:7%;
    height:7%;
}

#worker_img {
    width:7%;
    height:7%;
}

#upgrade1_img {
    width:10%;
    height:10%;
}