.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.main {
    margin-bottom: 10%;
}

.upgrades {
    margin-bottom: 10%;
}

#chips_img {
    width: 10%;
    height: 40%;
    margin-bottom: 3%;
}

#chips_img_right {
    width: 10%;
    height: 40%;
    margin-bottom: 3%;
    margin-left: 1%;
}

#chips_img_left {
    width: 10%;
    height: 40%;
    margin-bottom: 3%;
    margin-left: -1%;
}

#clicker_img {
    width: 7%;
    height: 7%;
}

#worker_img {
    width: 7%;
    height: 7%;
}

#upgrade1_img {
    width: 20%;
    height: 20%;
}