.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 2%;
}

.left {
    min-width: 30%;
    margin-left: 3%;
    max-width: 400px;
}

.middle {
    min-width: 400px;
    margin-left: 5%;
}

.right {
    min-width: 380px;
    margin-right: 3%;
}

.upgrades {
    margin-bottom: 10%;
}

/* chips */
    .chips_img {
        width: 200px;
        height: 300px;
    }

    .chips_img_right {
        width: 200px;
        height: 300px;
        margin-left: 1%;
    }

    .chips_img_left {
        width: 200px;
        height: 300px;
        margin-left: -1%;
    }

/* images */
    #clicker_img {
        width: 90px;
        height: 100px;
    }

    #worker_img {
        width: 95px;
        height: 100px;
    }

    #upgrade1_img {
        width: 100px;
        height: 100px;
    }